@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  padding: 0;
  margin: 0; }

body {
  font-family: "Montserrat", sans-serif; }

header {
  font-family: "Montserrat", sans-serif;
  background-color: #fffcfc; }

.body-section {
  background-color: #fffcfc; }

.bg-space .container .logo {
  color: #3e3e3e;
  font-weight: 600; }

nav.bg-space {
  background: #fffcfc; }
  nav.bg-space ul li a {
    color: #3e3e3e;
    position: relative;
    font-size: 20px;
    font-weight: 600;
    margin: 12px; }
    nav.bg-space ul li a:hover {
      color: #407BFF;
      border-bottom: 1px solid #407BFF; }

section.hero {
  padding: 80px 0; }
  section.hero .text h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 73px;
    color: #3e3e3e;
    margin-top: 37px; }
  section.hero .text p {
    margin-top: 50px;
    font-weight: 400;
    font-size: 30px;
    padding-right: 20px; }

.buttons {
  padding-top: 30px; }
  .buttons .boton-1 {
    background-color: #407BFF;
    margin-right: 15px; }
  .buttons .btn {
    font-size: 18px;
    font-weight: bold;
    padding: 12px 18px; }

main .patrocinadores {
  background: #efefef;
  padding: 40px; }

footer .pie-pagina {
  text-align: center;
  width: 100%;
  bottom: 0; }
  footer .pie-pagina p {
    font-size: 18px;
    padding: 15px;
    margin-top: 13px;
    font-weight: 300; }

.sec-contacto .boton-contacto {
  background-color: #407BFF;
  color: white; }

.sec-contacto .texto-con {
  background-color: #407BFF; }

.sec-servicios {
  padding-top: 50px;
  padding-bottom: 50px; }

.fila-section {
  padding-top: 50px; }

.card-body .boton-servicios {
  background-color: #407BFF;
  color: #272727;
  font-weight: bold; }

.nosotros-sec {
  padding-bottom: 85px;
  padding-top: 50px;
  color: #3e3e3e;
  font-family: 'Montserrat', sans-serif; }
  .nosotros-sec h2 {
    font-size: 70px;
    padding-top: 5px; }
  .nosotros-sec .fila-us {
    padding-top: 80px;
    padding-bottom: 50px; }

.equipo-sec {
  width: 100%; }
  .equipo-sec .contenedor {
    width: 80%;
    margin: auto; }
    .equipo-sec .contenedor .fila {
      width: 60%;
      margin: auto; }
      .equipo-sec .contenedor .fila .title {
        text-align: center;
        margin-top: 10px; }
        .equipo-sec .contenedor .fila .title p {
          font-size: 20px;
          margin: 30px 0px;
          color: #3e3e3e; }

.equipo-sec .contenedor .tarjeta-per {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  margin-top: 50px; }
  .equipo-sec .contenedor .tarjeta-per .tarjeta {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer; }
    .equipo-sec .contenedor .tarjeta-per .tarjeta .imagen-sec img {
      border-radius: 10px;
      border: 6px solid #407BFF; }
    .equipo-sec .contenedor .tarjeta-per .tarjeta .contenido {
      width: 100%;
      text-align: center; }
      .equipo-sec .contenedor .tarjeta-per .tarjeta .contenido h3 {
        font-size: 30px;
        margin-top: 10px;
        color: #3e3e3e; }
      .equipo-sec .contenedor .tarjeta-per .tarjeta .contenido h4 {
        font-size: 20px;
        margin-top: 10px;
        color: #3e3e3e; }
      .equipo-sec .contenedor .tarjeta-per .tarjeta .contenido p {
        font-size: 15px;
        margin: 16px 0px;
        line-height: 1.5;
        color: #3e3e3e; }

body {
  background-color: #fffcfc;
  font-family: "Montserrat", sans-serif; }

.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 40px;
  margin-bottom: 50px; }
  .error-page .error-boton {
    display: inline-block;
    font-weight: bold;
    padding: 15px 25px;
    background-color: #407BFF;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    font-size: 1.7em;
    border-radius: 50px;
    animation: bounce 1s ease-in-out infinite; }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-10px); }
  60% {
    transform: translateY(-5px); } }

@media (max-width: 576px) {
  section.hero {
    text-align: center; }
  .buttons .btn {
    display: block;
    margin: 1rem 0; } }

@media screen and (max-width: 900px) {
  .equipo-sec .contenedor .tarjeta-per {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 768px) {
  .equipo-sec .contenedor .tarjeta-per {
    grid-template-columns: 1fr; } }
