.nosotros-sec{
    padding-bottom: 85px;
    padding-top: 50px;
    color: $text-color;
    font-family: 'Montserrat', sans-serif;

    h2{
        font-size: 70px;
        padding-top: 5px;
    }

    .fila-us{
        padding-top: 80px;
        padding-bottom: 50px;
    }

}
